@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default
  --color-primary: #caeb66 ;
  --color-secondary: #03373d;
  --color-accent: #caeb66 ;
  --color-neutral: #606060;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #eaeced;
}


.input-field {
  @apply w-full px-4 py-3 border rounded-md 
         focus:outline-none focus:ring-2 focus:ring-[#CAEB66]
         text-gray-800 placeholder-gray-400;
}

.primary-btn {
  @apply w-full bg-[#CAEB66] py-3 rounded-md font-semibold 
         hover:opacity-95 transition;
}

.error-text {
  @apply text-sm text-red-500 mt-1;
}
